<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Code\Trace.txt" />
      <add name="appeventlog" type="System.Diagnostics.EventLogTraceListener" initializeData="Application" />
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="file" />
        <add name="appeventlog" />
      </listeners>
    </trace>
    <switches>
      <add name="PacktSwitch" value="3"/>
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>